








header {
    background-color: black;
    color: white;
    text-align: center;
    width: auto;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -3%;
}


#link1 {
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

header > #home {
    background-color: rgba(0, 255, 255, 0);
    width: 4%;
    height: 12%;
    margin-bottom: -90px;
}

header > #noticias {
    background-color: rgba(21, 255, 0, 0);
    width: 4.8%;
    height: 12%;
    margin-left: 53px;
    margin-top: 72px;
}

header > #faleconosco {
    background-color: rgba(251, 255, 0, 0);
    width: 7%;
    height: 12%;
    margin-left: 115px;
    margin-top: -34px;
}









main {
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding-bottom: 10%;
    width: 100%;
}

main > #p1 {
    padding-top: 3.5%;
    padding-left: 3.5%;
    padding-bottom: 3%;
    font-size: 28px;
    font-weight: 400;
}

main > #p2 {
    padding-top: 5%;
    padding-left: 4%;
    padding-bottom: 6%;
    font-size: 28px;
    font-weight: 400;
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: 0px 1px 10px rgb(48, 48, 48);
}

main > div > #c2 {
    background-color: rgba(255, 255, 255, 0.281);
    color: rgb(0, 0, 0);
    width: 27%;
    height: 100%;
    padding: 0.5% 0.5% 0.5% 1%;
    margin-left: -1.4%;
    text-align: left;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.418);
}

main > #p3 {
    padding-top: 3.5%;
    padding-left: 3.5%;
    padding-bottom: 3%;
    font-size: 28px;
    font-weight: 400;
}

main > #p4 {
    padding-top: 5%;
    padding-left: 4%;
    padding-bottom: 6%;
    font-size: 28px;
    font-weight: 400;
    background: black url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: 0px 1px 10px rgba(43, 43, 43, 0.308);
}

main > div > #c4 {
    background-color: rgba(255, 255, 255, 0.959);
    color: rgb(0, 0, 0);
    width: 27%;
    height: 100%;
    padding: 0.5% 0.5% 0.5% 1%;
    margin-left: -1.4%;
    text-align: left;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.507);
}

main > #p5 {
    padding-top: 3.5%;
    padding-left: 3.5%;
    padding-bottom: 3%;
    font-size: 28px;
    font-weight: 400;
}







footer {
    background-color: black;
    height: 100px;
    width: 100%;
    margin-top: -4%;
}

#rodape {
    margin-left: 30px;
    padding-top: 2%;
    color: white;
}






